
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Sobre nosotras</h5>
        <h3>Nacimos para respaldar e inspirar a todas las personas amantes del deporte</h3>
        <h4>Mision de la empresa</h4>
        <p>Tiene como misión comercializar calzado con una permanente innovación en términos de diseño y confort, que satisfaga las necesidades de todos nuestros fieles clientes, pudiendo así entregarles productos de calidad a un precio realmente accesible.</p>
        <p></p>
        <h4>Vision de la empresa</h4>
        <p>Vender calzado accesible en todas las regiones apoyada por la continua innovación e incansables servicios al cliente, asegurándonos de que el cliente tenga el zapato correcto al precio correcto. haciéndonos así más reconocidos a nivel nacional.</p>
      </div>
      
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-intro.jpg" alt=""></div>
  </div>
  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/apout-quote.png" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>información</p>
        </blockquote>
        <figure>
          <h4>Felicita Balazero Sanchez</h4>
          <h5>Horario de atencion</h5>
          <p>El horario de 9:00am a 5:30 pm y los sábados de 9:00 a.m. – 12:00 p.m.</p>
          <h5>Direccion</h5>
          <p>CALLE REAL N°1050 INT A-10 C.C.ASTORIA PLAZA 064 Huancayo, Perú</p>
        </figure>
      </div>
    </div>
  </div> 
</div>
  

<app-footer></app-footer>