<app-nav></app-nav>

<section class="border-bottom py-3 pt-md-4 mb-4 mt-5">
    <div class="container">
      <div class="row justify-content-center pb-2 pb-md-3">
        <div class="col-lg-8 col-md-10">
          <h1 class="mb-4 pb-1 text-center">Términos del servicio</h1>
    
        </div>
      </div>
    </div>
</section>

<section class="border-bottom" >
    <div class="container py-2 pt-md-3" style="margin-bottom: 100px !important;">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <p class="d-sm-none d-md-block card-text" style="margin-top: 4rem;margin-bottom: 4rem;">
                Bienvenida a la tienda virtual. Te invitamos a leer detenidamente los términos y condiciones sobre el uso de nuestro sitio web.
            </p>

            <h4 class="mb-2 pb-1">
                Registro del cliente
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                El registro en nuestra tienda virtual es gratuito. No es requisito indispensable para la adquisición de productos, pero te permitirá realizar compras de manera personalizada y más rápida.
            </p>

            <h4 class="mb-2 pb-1">
                Servicio
            </h4>

            <p class="d-sm-none d-md-block card-text">
                El acceso a realizar compras online a través de EL SITIO WEB requiere que usted se registre previamente como "CLIENTE", una vez usted acepte los Términos y Condiciones Generales de Uso. A partir de dicho registro, usted pasará a ser considerado CLIENTE de nuestro sitio web. LA EMPRESA no se hace responsable por la certeza de los datos proporcionados por el CLIENTE de EL SITIO WEB.
            </p>
            <p class="d-sm-none d-md-block card-text">
                LA EMPRESA se reserva el derecho de solicitar algún documento y/o dato adicional a efectos de corroborar los datos personales y de envío, así como de suspender temporal o definitivamente a aquel CLIENTE cuyos datos no hayan podido ser confirmados.
            </p>
            <p class="d-sm-none d-md-block card-text">
                La información personal que el CLIENTE le proporcione a EL SITIO WEB, estará asegurada por una clave de acceso, de la cual solo el CLIENTE tendrá conocimiento. El CLIENTE es el único responsable de mantener en secreto dicha clave. EL CLIENTE se compromete a notificar a LA EMPRESA en forma inmediata, cualquier uso no autorizado de su cuenta.
            </p>
            <p class="d-sm-none d-md-block card-text">
                EL SITIO WEB se reserva el derecho de rechazar cualquier solicitud de registro o de cancelar un registro previamente aceptado, en cualquier momento y por cualquier razón, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.
            </p>
            <p class="d-sm-none d-md-block card-text">
                CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES Y LAS POLÍTICAS DE PRIVACIDAD, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.
            </p>

            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim reprehenderit facilis qui maxime laudantium impedit aliquam iste voluptatem dicta beatae?
            </p>

            <h4 class=" mb-2 pb-1">
                Formas de pago
            </h4>

            <p class="d-sm-none d-md-block card-text">
                La tienda ofrece las siguientes opciones de pago:
            </p>
            <ul style="margin-bottom: 4rem;">
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Mercado Pago: Tarjetas de crédito y/o débito Visa, MasterCard, Dinners y American Express.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Transferencia o depósito.
                    </p>
                </li>
                <li>
                    <p class="d-sm-none d-md-block card-text">
                        Yape o plin.
                    </p>
                </li>
            </ul>

            <h4 class="mb-2 pb-1">
                Entregas
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                Los tiempos de entrega serán proporcionados una vez confirmada la compra, dicha información tomará en cuenta lugar de despacho y tamaño del producto para hacer el cálculo del tiempo de entrega, se estima que para Lima no debe ser mayor a 2-6 días hábiles y para provincias no debe ser mayor a 8 días hábiles, tener en cuenta que no se consideran los días sábados, domingos y feriados para contabilizar los días de entrega para cualquier producto.
            </p>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                El tiempo de entrega estimado será el indicado en el proceso de adquisición en EL SITIO WEB y será confirmado en el correo de Confirmación de Fecha de Envío del Producto.
            </p>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                La entrega de Productos se realiza únicamente dentro del país, dentro de los plazos indicados en la confirmación de compra.
            </p>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                Si tienes consultas adicionales sobre los tiempos de entrega envíanos un correo a: balazeroshanchezf@gmail.com.
            </p>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                Según las políticas establecidas, el cliente tiene la obligación de revisar que la caja o bolsa que contenga el producto, esté sellada y no tenga signos de apertura previa (Abierta, otra cinta de embalaje o deterioro de caja). En caso detecte esto, NO reciba el producto y deberá ponerse en contacto inmediatamente con LA EMPRESA. Luego de la aceptación del producto, el CLIENTE no podrá presentar reclamo por daño del producto o faltante del mismo, sólo se atenderán reclamos por temas de garantía o cualquiera descrita dentro de la Política de Cambios y Devolución y Cambios.
            </p>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                Aviso Importante: La venta y despacho de los productos está condicionada a su disponibilidad y a las existencias de producto. Cuando el producto no se encuentre disponible, LA EMPRESA lo notificará de inmediato al cliente y devolverá el valor total del precio pagado por el producto.
            </p>

            <h4 class="mb-2 pb-1">
                Seguimiento de pedido
            </h4>
            <p class="d-sm-none d-md-block card-text" style="margin-bottom: 4rem;">
                Una vez que la compra de Productos en EL SITIO WEB haya sido procesada se informará en línea al CLIENTE. El CLIENTE recibirá un correo electrónico (ticket u orden de compra) informándole el número de pedido y el Producto(s) comprado(s).El CLIENTE puede consultar el estatus de su pedido en la opción Mi Cuenta/Pedidos en balazeroshanchezf@gmail.com.
            </p>

            <h4 class=" mb-2 pb-1">
                Datos personales
            </h4>
            <p class="d-sm-none d-md-block card-text">
                Los datos que suministren a EL SITIO WEB formarán parte de la base de datos de LA EMPRESA y serán destinados para los fines de esta, tales como: responder sus consultas, contacto, etc.
            </p>
        </div>
      </div>
    </div>
</section>

<app-footer></app-footer>